In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [73]:
df = pd.read_csv('data.csv')

In [74]:
df = df[(df['iso_code']=='FRA') | (df['iso_code']=='GBR') | (df['iso_code']=='ITA')|
        (df['iso_code']=='CHE') | (df['iso_code']=='DEU') | (df['iso_code']=='PRT') ]

In [75]:
df = df[(df['date'] >= '2020-03-15') & (df['date'] <= '2020-11-09')]

In [76]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
17891,FRA,Europe,France,2020-03-15,4499.0,838.0,540.429,91.0,12.0,11.571,...,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901
17892,FRA,Europe,France,2020-03-16,5423.0,924.0,613.857,127.0,36.0,15.429,...,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901
17893,FRA,Europe,France,2020-03-17,6633.0,1210.0,745.857,148.0,21.0,16.857,...,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901
17894,FRA,Europe,France,2020-03-18,7730.0,1097.0,849.429,175.0,27.0,20.286,...,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901
17895,FRA,Europe,France,2020-03-19,9134.0,1404.0,979.000,244.0,69.0,28.000,...,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901

In [77]:
dfSub = df[['location', 'date','new_cases','population', 'population_density']]

In [78]:
#dfSub.to_csv(r'relevantData.csv', index = False)

In [79]:
A = dfSub[dfSub['location']!='France']

In [80]:
A = A[['location','new_cases']]

In [81]:
A.groupby('location').count()

                new_cases
location
Germany               240
Italy                 240
Portugal              240
Switzerland           240
United Kingdom        240

In [82]:
germ = A[A['location']=='Germany'].reset_index().drop('index',axis=1)
ita = A[A['location']=='Italy'].reset_index().drop('index',axis=1)
port = A[A['location']=='Portugal'].reset_index().drop('index',axis=1)
swi = A[A['location']=='Switzerland'].reset_index().drop('index',axis=1)
unk = A[A['location']=='United Kingdom'].reset_index().drop('index',axis=1)

In [106]:
N = pd.DataFrame(columns=['Germany','Italy','Portugal','United Kingdom'],index = range(0,240))
N['Germany'] = germ['new_cases']
N['Italy']= ita['new_cases']
N['Portugal'] = port['new_cases']
#N['Switzerland'] = swi['new_cases']
N['United Kingdom'] = unk['new_cases']
N

     Germany    Italy  Portugal  United Kingdom
0      733.0   3497.0      57.0           478.0
1     1043.0   2823.0      76.0           361.0
2     1174.0   4000.0      86.0           442.0
3     1144.0   3526.0     117.0           611.0
4     1042.0   4207.0     194.0           769.0
..       ...      ...       ...             ...
235  19990.0  30548.0    7497.0         25177.0
236  21506.0  34502.0    4410.0         24138.0
237  23399.0  37802.0    5550.0         23287.0
238  16017.0  39809.0    6640.0         24957.0
239  13363.0  32614.0    5784.0         20572.0

[240 rows x 4 columns]

In [107]:
A = N.to_numpy()
A

array([[  733.,  3497.,    57.,   478.],
       [ 1043.,  2823.,    76.,   361.],
       [ 1174.,  4000.,    86.,   442.],
       [ 1144.,  3526.,   117.,   611.],
       [ 1042.,  4207.,   194.,   769.],
       [ 5940.,  5322.,   143.,   999.],
       [ 4049.,  5986.,   235.,  1055.],
       [ 3276.,  6557.,   260.,  1255.],
       [ 3311.,  5560.,   320.,  1198.],
       [ 4438.,  4789.,   460.,  1378.],
       [ 2342.,  5249.,   302.,  2338.],
       [ 4954.,  5210.,   633.,  2375.],
       [ 5780.,  6153.,   549.,  2692.],
       [ 6294.,  5959.,   724.,  3087.],
       [ 3965.,  5974.,   902.,  3197.],
       [ 4751.,  5217.,   792.,  2822.],
       [ 4615.,  4050.,   446.,  2858.],
       [ 5453.,  4053.,  1035.,  4273.],
       [ 6156.,  4782.,   808.,  4514.],
       [ 6174.,  4668.,   783.,  4913.],
       [ 6082.,  4585.,   852.,  4868.],
       [ 5936.,  4805.,   638.,  4911.],
       [ 3677.,  4316.,   754.,  4020.],
       [ 3834.,  3599.,   452.,  3592.],
       [ 4003.,  3039.,   712.,  5282.],
       [ 4974.,  3836.,   699.,  5450.],
       [ 5323.,  4204.,   815.,  5131.],
       [ 4133.,  3951.,  1516.,  4858.],
       [ 2821.,  4694.,   515.,  4313.],
       [ 2537.,  4092.,   598.,  3579.],
       [ 2082.,  3153.,   349.,  3489.],
       [ 2486.,  2972.,   514.,  4178.],
       [ 2866.,  2667.,   643.,  4326.],
       [ 3380.,  3786.,   750.,  5065.],
       [ 3609.,  3493.,   181.,  5292.],
       [ 2458.,  3491.,   663.,  4956.],
       [ 1775.,  3047.,   521.,  4721.],
       [ 1785.,  2256.,   657.,  3853.],
       [ 2237.,  2729.,   516.,  4854.],
       [ 2352.,  3370.,   603.,  4760.],
       [ 2337.,  2646.,   371.,  5487.],
       [ 2055.,  3021.,   918.,  5158.],
       [ 1737.,  2357.,   412.,  4970.],
       [ 1018.,  2324.,   163.,  3748.],
       [ 1144.,  1739.,   298.,  3473.],
       [ 1304.,  2091.,   180.,  4706.],
       [ 1478.,  2086.,   368.,  4729.],
       [ 1639.,  1872.,   295.,  5442.],
       [  945.,  1965.,   364.,  4966.],
       [  793.,  1900.,  -161.,  4737.],
       [  679.,  1389.,   334.,  3229.],
       [  685.,  1221.,     0.,  2982.],
       [  947.,  1075.,   178.,  3389.],
       [ 1284.,  1444.,   480.,  3682.],
       [ 1209.,  1401.,   533.,  3827.],
       [ 1251.,  1327.,   553.,  3767.],
       [  667.,  1083.,   138.,  3063.],
       [  357.,   802.,   175.,  2157.],
       [  933.,   744.,    98.,  2329.],
       [  798.,  1402.,   234.,  3586.],
       [  933.,   888.,   219.,  3402.],
       [  913.,   992.,   187.,  3307.],
       [  620.,   789.,   264.,  2628.],
       [  583.,   875.,   227.,  2526.],
       [  342.,   675.,   226.,  2079.],
       [  513.,   451.,   173.,  1838.],
       [  797.,   813.,   223.,  2589.],
       [  745.,   665.,   228.,  3052.],
       [  460.,   642.,   252.,  2718.],
       [  638.,   652.,   288.,  2574.],
       [  431.,   669.,   271.,  2062.],
       [  289.,   531.,   152.,  1527.],
       [  432.,   300.,   165.,  1364.],
       [  362.,   397.,   219.,  1624.],
       [  353.,   584.,   285.,  1672.],
       [  741.,   593.,   304.,  1835.],
       [  738.,   516.,   350.,  1760.],
       [  286.,   416.,   257.,  1527.],
       [  333.,   355.,   297.,  1125.],
       [  213.,   178.,   200.,  1079.],
       [  342.,   318.,   195.,  1441.],
       [  394.,   321.,   366.,  1484.],
       [  507.,   177.,   331.,  1356.],
       [  407.,   518.,   377.,  1243.],
       [  301.,   270.,   382.,  1120.],
       [  214.,   197.,   142.,   801.],
       [  350.,   280.,   392.,   721.],
       [  318.,   283.,   421.,  1099.],
       [  555.,   202.,   294.,  1158.],
       [  258.,   379.,   310.,  1199.],
       [  348.,   163.,   270.,  1017.],
       [  247.,   346.,   283.,  1052.],
       [  192.,   338.,   227.,   890.],
       [  378.,   301.,   346.,   822.],
       [  345.,   210.,   300.,  1043.],
       [  580.,   328.,   336.,  1102.],
       [  770.,   331.,   417.,  1013.],
       [  601.,  -148.,   375.,  1027.],
       [  687.,   264.,   377.,   986.],
       [  537.,   224.,   292.,   687.],
       [  503.,   221.,   259.,   639.],
       [  587.,   113.,   345.,   896.],
       [  630.,   577.,   367.,   886.],
       [  477.,   296.,   311.,   778.],
       [  687.,   255.,   451.,   721.],
       [  256.,   175.,   323.,   671.],
       [  262.,   174.,   457.,   649.],
       [  498.,   126.,   266.,   446.],
       [  466.,   142.,   229.,   730.],
       [  503.,   182.,   313.,   617.],
       [  446.,   201.,   328.,   651.],
       [  422.,   223.,   374.,   602.],
       [  239.,   235.,   413.,   579.],
       [  219.,   192.,   328.,   401.],
       [  390.,   208.,   232.,   555.],
       [  397.,   137.,   287.,   704.],
       [  442.,   193.,   443.,   597.],
       [  395.,   214.,   418.,   693.],
       [  378.,   276.,   402.,   715.],
       [  248.,   188.,   542.,   565.],
       [  159.,   234.,   291.,   442.],
       [  412.,   169.,   306.,   361.],
       [  351.,   114.,   233.,   726.],
       [  534.,   162.,   375.,   685.],
       [  583.,   230.,   339.,   772.],
       [  529.,   231.,   312.,   704.],
       [  202.,   249.,   313.,   569.],
       [  249.,   218.,   246.,   493.],
       [  522.,   190.,   135.,   413.],
       [  454.,   128.,   127.,   793.],
       [  569.,   280.,   252.,   751.],
       [  815.,   306.,   229.,   773.],
       [  781.,   252.,   313.,   731.],
       [  305.,   274.,   263.,   667.],
       [  340.,   254.,   209.,   421.],
       [  633.,   168.,   135.,   371.],
       [  684.,   202.,   111.,    70.],
       [  902.,   288.,   203.,   763.],
       [  870.,   382.,   255.,   846.],
       [  955.,   379.,   204.,   880.],
       [  240.,   295.,   238.,   771.],
       [  509.,   238.,   153.,   743.],
       [  879.,   159.,   106.,   928.],
       [  741.,   190.,   112.,   670.],
       [ 1045.,   384.,   167.,   891.],
       [ 1147.,   401.,   213.,   950.],
       [ 1122.,   552.,   290.,   871.],
       [  555.,   347.,   186.,   758.],
       [  436.,   463.,   131.,  1062.],
       [  966.,   259.,   157.,   816.],
       [ 1226.,   412.,   120.,  1148.],
       [ 1445.,   476.,   278.,  1009.],
       [ 1449.,   522.,   325.,  1129.],
       [ 1415.,   574.,   235.,  1440.],
       [  625.,   629.,   198.,  1077.],
       [  561.,   477.,   121.,  1040.],
       [ 1390.,   320.,   132.,   713.],
       [ 1510.,   401.,   214.,  1089.],
       [ 1707.,   642.,   253.,   812.],
       [ 1427.,   840.,   291.,  1182.],
       [ 2034.,   947.,   219.,  1033.],
       [  782.,  1071.,   241.,  1288.],
       [  711.,  1209.,   145.,  1041.],
       [ 1278.,   953.,   123.,   972.],
       [ 1576.,   876.,   192.,  1184.],
       [ 1507.,  1366.,   362.,  1048.],
       [ 1571.,  1409.,   399.,  1522.],
       [ 1479.,  1460.,   401.,  1276.],
       [  785.,  1444.,   374.,  1108.],
       [  610.,  1365.,   320.,  1715.],
       [ 1218.,   996.,   244.,  1406.],
       [ 1256.,   975.,   231.,  1295.],
       [ 1311.,  1326.,   390.,  1508.],
       [ 1453.,  1397.,   418.,  1735.],
       [ 1378.,  1732.,   406.,  1940.],
       [  988.,  1694.,   486.,  1813.],
       [  814.,  1296.,   315.,  2988.],
       [ 1499.,  1150.,   249.,  2948.],
       [ 1176.,  1369.,   388.,  2460.],
       [ 1892.,  1430.,   646.,  2659.],
       [ 1484.,  1597.,   585.,  2919.],
       [ 1630.,  1616.,   687.,  3539.],
       [  948.,  1501.,   497.,  3497.],
       [  927.,  1456.,   673.,  3330.],
       [ 1407.,  1008.,   613.,  2621.],
       [ 1901.,  1229.,   425.,  3103.],
       [ 2194.,  1452.,   605.,  3991.],
       [ 1916.,  1583.,   770.,  3395.],
       [ 2297.,  1907.,   780.,  4322.],
       [ 1345.,  1637.,   849.,  4422.],
       [  922.,  1587.,   552.,  3899.],
       [ 1821.,  1350.,   623.,  4368.],
       [ 1769.,  1391.,   463.,  4926.],
       [ 2143.,  1640.,   802.,  6178.],
       [ 2153.,  1786.,   691.,  6634.],
       [ 2507.,  1912.,   899.,  6873.],
       [ 1410.,  1869.,   884.,  6041.],
       [ 1192.,  1766.,   665.,  5692.],
       [ 2089.,  1494.,   425.,  4044.],
       [ 1798.,  1647.,   688.,  7143.],
       [ 2503.,  1850.,   825.,  7108.],
       [ 2673.,  2548.,   854.,  6914.],
       [ 2563.,  2499.,   888.,  6968.],
       [ 2279.,  2843.,   963., 12871.],
       [ 1382.,  2578.,     0., 22961.],
       [ 2639.,  2257.,  1638., 12593.],
       [ 2828.,  2677.,   427., 14542.],
       [ 4058.,  3677.,   944., 14162.],
       [ 4516.,  4458.,  1278., 17540.],
       [ 4721.,  5372.,  1394., 13864.],
       [ 3483.,  5724.,  1646., 15165.],
       [ 2467.,  5456.,  1090., 12872.],
       [ 4122.,  4619.,  1249., 13972.],
       [ 5132.,  5898.,  1208., 17232.],
       [ 6638.,  7332.,  2072., 19724.],
       [ 7334.,  8803.,  2101., 18978.],
       [ 7830., 10009.,  2608., 15635.],
       [ 5587., 10925.,  2153., 16171.],
       [ 4325., 11705.,  1856., 16981.],
       [ 6868.,  9337.,  1949., 18803.],
       [ 7595., 10871.,  1876., 21330.],
       [11287., 15199.,  2535., 26687.],
       [11242., 16078.,  3270., 21238.],
       [14714., 19143.,  2899., 20531.],
       [11176., 19640.,  3669., 23012.],
       [ 8685., 21273.,  2577., 19790.],
       [11409., 17007.,  2447., 20890.],
       [14964., 21989.,  3299., 22885.],
       [16774., 24988.,  3960., 24700.],
       [18681., 26829.,  4224., 23065.],
       [19059., 31079.,  4656., 24405.],
       [14177., 31756.,  4007., 21915.],
       [12097., 29905.,  3062., 23254.],
       [15352., 22253.,  2506., 18950.],
       [17214., 28241.,  2596., 20018.],
       [19990., 30548.,  7497., 25177.],
       [21506., 34502.,  4410., 24138.],
       [23399., 37802.,  5550., 23287.],
       [16017., 39809.,  6640., 24957.],
       [13363., 32614.,  5784., 20572.]])

In [108]:
b = dfSub[dfSub['location']=='France']

In [109]:
b = b[['new_cases']]

In [110]:
b=b.to_numpy()
b

array([[ 8.3800e+02],
       [ 9.2400e+02],
       [ 1.2100e+03],
       [ 1.0970e+03],
       [ 1.4040e+03],
       [ 1.8610e+03],
       [ 1.6170e+03],
       [ 1.8470e+03],
       [ 1.5590e+03],
       [ 3.8380e+03],
       [ 2.4460e+03],
       [ 2.9310e+03],
       [ 3.9220e+03],
       [ 3.8090e+03],
       [ 4.6110e+03],
       [ 2.5990e+03],
       [ 4.3760e+03],
       [ 7.5780e+03],
       [ 4.8610e+03],
       [ 2.1160e+03],
       [ 5.2330e+03],
       [ 4.2670e+03],
       [ 1.8730e+03],
       [ 3.9120e+03],
       [ 3.7770e+03],
       [ 3.8810e+03],
       [ 4.2860e+03],
       [ 4.3420e+03],
       [ 3.1140e+03],
       [ 1.6130e+03],
       [ 2.6730e+03],
       [ 5.4970e+03],
       [ 2.6330e+03],
       [ 2.6410e+03],
       [ 4.0500e+02],
       [ 2.5690e+03],
       [ 7.8500e+02],
       [ 2.0510e+03],
       [ 2.6670e+03],
       [ 1.8270e+03],
       [ 1.6530e+03],
       [ 1.7730e+03],
       [ 1.5370e+03],
       [ 4.6100e+02],
       [ 1.1950e+03],
       [ 1.0650e+03],
       [ 1.6070e+03],
       [ 1.1390e+03],
       [ 6.0400e+02],
       [ 7.9400e+02],
       [ 3.0800e+02],
       [ 5.7600e+02],
       [ 1.1040e+03],
       [ 4.1830e+03],
       [ 6.2900e+02],
       [ 6.4200e+02],
       [ 4.3300e+02],
       [ 2.0900e+02],
       [ 4.5600e+02],
       [ 7.0800e+02],
       [ 5.0700e+02],
       [ 6.2200e+02],
       [ 5.6300e+02],
       [ 3.7200e+02],
       [ 1.2000e+02],
       [ 4.9200e+02],
       [ 5.2400e+02],
       [ 4.1800e+02],
       [ 3.1800e+02],
       [ 4.0300e+02],
       [ 2.4000e+02],
       [ 1.1500e+02],
       [ 3.5800e+02],
       [ 2.7600e+02],
       [ 1.9100e+02],
       [ 3.3250e+03],
       [ 5.9700e+02],
       [ 1.8280e+03],
       [ 2.5700e+02],
       [ 3.3800e+02],
       [-7.6600e+02],
       [ 3.5200e+02],
       [ 7.6700e+02],
       [ 6.1100e+02],
       [ 5.7900e+02],
       [ 3.4300e+02],
       [ 2.1100e+02],
       [ 4.0300e+02],
       [ 5.4500e+02],
       [ 4.2500e+02],
       [ 7.2600e+02],
       [ 5.2600e+02],
       [ 4.0700e+02],
       [ 1.5200e+02],
       [ 3.4400e+02],
       [ 4.5800e+02],
       [ 4.6700e+02],
       [ 8.1100e+02],
       [ 6.4100e+02],
       [ 2.8400e+02],
       [ 3.7300e+02],
       [ 5.1700e+02],
       [ 8.1000e+01],
       [ 0.0000e+00],
       [ 1.5880e+03],
       [ 0.0000e+00],
       [ 0.0000e+00],
       [ 1.3240e+03],
       [ 5.4100e+02],
       [ 9.1800e+02],
       [ 6.5900e+02],
       [ 5.8200e+02],
       [ 0.0000e+00],
       [ 0.0000e+00],
       [ 1.3750e+03],
       [ 4.7500e+02],
       [ 6.6300e+02],
       [ 6.2100e+02],
       [ 6.5800e+02],
       [ 0.0000e+00],
       [ 0.0000e+00],
       [ 1.6250e+03],
       [ 0.0000e+00],
       [ 9.2700e+02],
       [ 5.3400e+02],
       [ 8.3600e+02],
       [ 0.0000e+00],
       [ 0.0000e+00],
       [ 2.0800e+03],
       [ 5.8400e+02],
       [ 9.9800e+02],
       [ 1.0620e+03],
       [ 1.1300e+03],
       [ 0.0000e+00],
       [ 0.0000e+00],
       [ 2.5510e+03],
       [ 7.2500e+02],
       [ 1.3920e+03],
       [ 1.3770e+03],
       [ 1.3460e+03],
       [ 0.0000e+00],
       [ 0.0000e+00],
       [ 3.3760e+03],
       [ 1.0390e+03],
       [ 1.6950e+03],
       [ 1.6040e+03],
       [ 2.2880e+03],
       [ 0.0000e+00],
       [ 0.0000e+00],
       [ 4.8540e+03],
       [ 1.3970e+03],
       [ 2.5240e+03],
       [ 2.6690e+03],
       [ 2.8460e+03],
       [ 3.3100e+03],
       [ 3.0150e+03],
       [ 4.9300e+02],
       [ 2.2380e+03],
       [ 3.7760e+03],
       [ 4.7710e+03],
       [ 4.5860e+03],
       [ 3.6020e+03],
       [ 4.8970e+03],
       [ 1.9550e+03],
       [ 3.3040e+03],
       [ 5.4290e+03],
       [ 6.1110e+03],
       [ 7.3790e+03],
       [ 5.4530e+03],
       [ 5.4130e+03],
       [ 3.0820e+03],
       [ 4.9820e+03],
       [ 7.0170e+03],
       [ 7.1570e+03],
       [ 8.9750e+03],
       [ 8.5500e+03],
       [ 7.0710e+03],
       [ 4.2030e+03],
       [ 6.5440e+03],
       [ 8.5770e+03],
       [ 9.8430e+03],
       [ 9.4060e+03],
       [ 1.0561e+04],
       [ 7.1830e+03],
       [ 6.1580e+03],
       [ 7.8520e+03],
       [ 9.7840e+03],
       [ 1.0593e+04],
       [ 1.3215e+04],
       [ 1.3498e+04],
       [ 1.1569e+04],
       [ 4.2980e+03],
       [ 1.0008e+04],
       [ 1.3072e+04],
       [ 1.6096e+04],
       [ 1.5797e+04],
       [ 1.4412e+04],
       [ 1.1123e+04],
       [ 4.0700e+03],
       [ 8.0510e+03],
       [ 1.2845e+04],
       [ 1.3970e+04],
       [ 1.2148e+04],
       [ 1.6972e+04],
       [ 1.2545e+04],
       [ 5.1040e+03],
       [ 1.0489e+04],
       [ 1.8746e+04],
       [ 1.8129e+04],
       [ 2.0339e+04],
       [ 2.6896e+04],
       [ 1.6101e+04],
       [ 8.5050e+03],
       [ 1.2993e+04],
       [ 2.2591e+04],
       [ 3.0621e+04],
       [ 2.5086e+04],
       [ 3.2427e+04],
       [ 2.9837e+04],
       [ 1.3243e+04],
       [ 2.0468e+04],
       [ 2.6676e+04],
       [ 4.1622e+04],
       [ 4.2032e+04],
       [ 4.5422e+04],
       [ 5.2010e+04],
       [ 2.6771e+04],
       [ 3.3417e+04],
       [ 3.6437e+04],
       [ 4.7637e+04],
       [ 4.9215e+04],
       [ 3.2641e+04],
       [ 4.9290e+04],
       [ 5.2518e+04],
       [ 3.6330e+04],
       [ 4.0558e+04],
       [ 5.8046e+04],
       [ 6.0486e+04],
       [ 8.6852e+04],
       [ 3.8619e+04]])

In [111]:
A_train = A[:230]
b_train = b[:230]
A_test = A[230:]
b_test = b[230:]

In [112]:
 x = (np.linalg.inv((A_train.transpose()@A_train)))@A_train.transpose()@b_train

In [113]:
x

array([[-1.31830176],
       [ 1.04584864],
       [ 6.94119629],
       [ 0.50876567]])

In [114]:
predictions = A_test@x

In [115]:
predictions

array([[52113.05281445],
       [53485.37863243],
       [48413.387205  ],
       [30070.44856807],
       [35046.38175751],
       [70443.07400322],
       [50623.7335801 ],
       [59059.49304386],
       [79305.75750879],
       [67107.04790991]])

In [116]:
b_test

array([[49215.],
       [32641.],
       [49290.],
       [52518.],
       [36330.],
       [40558.],
       [58046.],
       [60486.],
       [86852.],
       [38619.]])

In [103]:
N['Switzerland'][N['Switzerland']==0]

2      0.0
74     0.0
98     0.0
99     0.0
189    0.0
190    0.0
197    0.0
203    0.0
204    0.0
207    0.0
210    0.0
211    0.0
217    0.0
224    0.0
225    0.0
231    0.0
232    0.0
238    0.0
239    0.0
Name: Switzerland, dtype: float64