In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [83]:
df = pd.read_csv('data.csv')

In [84]:
df = df[(df['iso_code']=='FRA') | (df['iso_code']=='GBR') | (df['iso_code']=='ITA')|
        (df['iso_code']=='CHE') | (df['iso_code']=='DEU') | (df['iso_code']=='PRT') ]

In [85]:
df = df[(df['date'] >= '2020-03-15') & (df['date'] <= '2020-11-09')]

In [86]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
17891,FRA,Europe,France,2020-03-15,4499.0,838.0,540.429,91.0,12.0,11.571,...,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901
17892,FRA,Europe,France,2020-03-16,5423.0,924.0,613.857,127.0,36.0,15.429,...,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901
17893,FRA,Europe,France,2020-03-17,6633.0,1210.0,745.857,148.0,21.0,16.857,...,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901
17894,FRA,Europe,France,2020-03-18,7730.0,1097.0,849.429,175.0,27.0,20.286,...,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901
17895,FRA,Europe,France,2020-03-19,9134.0,1404.0,979.000,244.0,69.0,28.000,...,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66,0.901

In [87]:
dfSub = df[['location', 'date','new_cases','population', 'population_density']]

In [88]:
#dfSub.to_csv(r'relevantData.csv', index = False)

In [89]:
A = dfSub[dfSub['location']!='France']

In [90]:
A = A[['location','new_cases','population']]

In [91]:
germ = A[A['location']=='Germany'].reset_index().drop('index',axis=1)
ita = A[A['location']=='Italy'].reset_index().drop('index',axis=1)
port = A[A['location']=='Portugal'].reset_index().drop('index',axis=1)
swi = A[A['location']=='Switzerland'].reset_index().drop('index',axis=1)
unk = A[A['location']=='United Kingdom'].reset_index().drop('index',axis=1)

In [92]:
N = pd.DataFrame(columns=['Italy','United Kingdom'],index = range(0,240))
N['United Kingdom'] = unk['new_cases']
N['Italy']= ita['new_cases']
#N['Portugal'] = port['new_cases']
#N['Switzerland'] = swi['new_cases']
#N['Germany'] = germ['new_cases']

N

       Italy  United Kingdom
0     3497.0           478.0
1     2823.0           361.0
2     4000.0           442.0
3     3526.0           611.0
4     4207.0           769.0
..       ...             ...
235  30548.0         25177.0
236  34502.0         24138.0
237  37802.0         23287.0
238  39809.0         24957.0
239  32614.0         20572.0

[240 rows x 2 columns]

In [93]:
A = N.to_numpy()
A

array([[ 3497.,   478.],
       [ 2823.,   361.],
       [ 4000.,   442.],
       [ 3526.,   611.],
       [ 4207.,   769.],
       [ 5322.,   999.],
       [ 5986.,  1055.],
       [ 6557.,  1255.],
       [ 5560.,  1198.],
       [ 4789.,  1378.],
       [ 5249.,  2338.],
       [ 5210.,  2375.],
       [ 6153.,  2692.],
       [ 5959.,  3087.],
       [ 5974.,  3197.],
       [ 5217.,  2822.],
       [ 4050.,  2858.],
       [ 4053.,  4273.],
       [ 4782.,  4514.],
       [ 4668.,  4913.],
       [ 4585.,  4868.],
       [ 4805.,  4911.],
       [ 4316.,  4020.],
       [ 3599.,  3592.],
       [ 3039.,  5282.],
       [ 3836.,  5450.],
       [ 4204.,  5131.],
       [ 3951.,  4858.],
       [ 4694.,  4313.],
       [ 4092.,  3579.],
       [ 3153.,  3489.],
       [ 2972.,  4178.],
       [ 2667.,  4326.],
       [ 3786.,  5065.],
       [ 3493.,  5292.],
       [ 3491.,  4956.],
       [ 3047.,  4721.],
       [ 2256.,  3853.],
       [ 2729.,  4854.],
       [ 3370.,  4760.],
       [ 2646.,  5487.],
       [ 3021.,  5158.],
       [ 2357.,  4970.],
       [ 2324.,  3748.],
       [ 1739.,  3473.],
       [ 2091.,  4706.],
       [ 2086.,  4729.],
       [ 1872.,  5442.],
       [ 1965.,  4966.],
       [ 1900.,  4737.],
       [ 1389.,  3229.],
       [ 1221.,  2982.],
       [ 1075.,  3389.],
       [ 1444.,  3682.],
       [ 1401.,  3827.],
       [ 1327.,  3767.],
       [ 1083.,  3063.],
       [  802.,  2157.],
       [  744.,  2329.],
       [ 1402.,  3586.],
       [  888.,  3402.],
       [  992.,  3307.],
       [  789.,  2628.],
       [  875.,  2526.],
       [  675.,  2079.],
       [  451.,  1838.],
       [  813.,  2589.],
       [  665.,  3052.],
       [  642.,  2718.],
       [  652.,  2574.],
       [  669.,  2062.],
       [  531.,  1527.],
       [  300.,  1364.],
       [  397.,  1624.],
       [  584.,  1672.],
       [  593.,  1835.],
       [  516.,  1760.],
       [  416.,  1527.],
       [  355.,  1125.],
       [  178.,  1079.],
       [  318.,  1441.],
       [  321.,  1484.],
       [  177.,  1356.],
       [  518.,  1243.],
       [  270.,  1120.],
       [  197.,   801.],
       [  280.,   721.],
       [  283.,  1099.],
       [  202.,  1158.],
       [  379.,  1199.],
       [  163.,  1017.],
       [  346.,  1052.],
       [  338.,   890.],
       [  301.,   822.],
       [  210.,  1043.],
       [  328.,  1102.],
       [  331.,  1013.],
       [ -148.,  1027.],
       [  264.,   986.],
       [  224.,   687.],
       [  221.,   639.],
       [  113.,   896.],
       [  577.,   886.],
       [  296.,   778.],
       [  255.,   721.],
       [  175.,   671.],
       [  174.,   649.],
       [  126.,   446.],
       [  142.,   730.],
       [  182.,   617.],
       [  201.,   651.],
       [  223.,   602.],
       [  235.,   579.],
       [  192.,   401.],
       [  208.,   555.],
       [  137.,   704.],
       [  193.,   597.],
       [  214.,   693.],
       [  276.,   715.],
       [  188.,   565.],
       [  234.,   442.],
       [  169.,   361.],
       [  114.,   726.],
       [  162.,   685.],
       [  230.,   772.],
       [  231.,   704.],
       [  249.,   569.],
       [  218.,   493.],
       [  190.,   413.],
       [  128.,   793.],
       [  280.,   751.],
       [  306.,   773.],
       [  252.,   731.],
       [  274.,   667.],
       [  254.,   421.],
       [  168.,   371.],
       [  202.,    70.],
       [  288.,   763.],
       [  382.,   846.],
       [  379.,   880.],
       [  295.,   771.],
       [  238.,   743.],
       [  159.,   928.],
       [  190.,   670.],
       [  384.,   891.],
       [  401.,   950.],
       [  552.,   871.],
       [  347.,   758.],
       [  463.,  1062.],
       [  259.,   816.],
       [  412.,  1148.],
       [  476.,  1009.],
       [  522.,  1129.],
       [  574.,  1440.],
       [  629.,  1077.],
       [  477.,  1040.],
       [  320.,   713.],
       [  401.,  1089.],
       [  642.,   812.],
       [  840.,  1182.],
       [  947.,  1033.],
       [ 1071.,  1288.],
       [ 1209.,  1041.],
       [  953.,   972.],
       [  876.,  1184.],
       [ 1366.,  1048.],
       [ 1409.,  1522.],
       [ 1460.,  1276.],
       [ 1444.,  1108.],
       [ 1365.,  1715.],
       [  996.,  1406.],
       [  975.,  1295.],
       [ 1326.,  1508.],
       [ 1397.,  1735.],
       [ 1732.,  1940.],
       [ 1694.,  1813.],
       [ 1296.,  2988.],
       [ 1150.,  2948.],
       [ 1369.,  2460.],
       [ 1430.,  2659.],
       [ 1597.,  2919.],
       [ 1616.,  3539.],
       [ 1501.,  3497.],
       [ 1456.,  3330.],
       [ 1008.,  2621.],
       [ 1229.,  3103.],
       [ 1452.,  3991.],
       [ 1583.,  3395.],
       [ 1907.,  4322.],
       [ 1637.,  4422.],
       [ 1587.,  3899.],
       [ 1350.,  4368.],
       [ 1391.,  4926.],
       [ 1640.,  6178.],
       [ 1786.,  6634.],
       [ 1912.,  6873.],
       [ 1869.,  6041.],
       [ 1766.,  5692.],
       [ 1494.,  4044.],
       [ 1647.,  7143.],
       [ 1850.,  7108.],
       [ 2548.,  6914.],
       [ 2499.,  6968.],
       [ 2843., 12871.],
       [ 2578., 22961.],
       [ 2257., 12593.],
       [ 2677., 14542.],
       [ 3677., 14162.],
       [ 4458., 17540.],
       [ 5372., 13864.],
       [ 5724., 15165.],
       [ 5456., 12872.],
       [ 4619., 13972.],
       [ 5898., 17232.],
       [ 7332., 19724.],
       [ 8803., 18978.],
       [10009., 15635.],
       [10925., 16171.],
       [11705., 16981.],
       [ 9337., 18803.],
       [10871., 21330.],
       [15199., 26687.],
       [16078., 21238.],
       [19143., 20531.],
       [19640., 23012.],
       [21273., 19790.],
       [17007., 20890.],
       [21989., 22885.],
       [24988., 24700.],
       [26829., 23065.],
       [31079., 24405.],
       [31756., 21915.],
       [29905., 23254.],
       [22253., 18950.],
       [28241., 20018.],
       [30548., 25177.],
       [34502., 24138.],
       [37802., 23287.],
       [39809., 24957.],
       [32614., 20572.]])

In [104]:
b = dfSub[dfSub['location']=='France']

In [105]:
b = b[['new_cases']]

In [106]:
b=b.to_numpy()
for i in range(0,240):
    if b[i] == 0:
        b[i]= b[i-1]
    elif b[i]<0:
        b[i]= -b[i]
b

array([[8.3800e+02],
       [9.2400e+02],
       [1.2100e+03],
       [1.0970e+03],
       [1.4040e+03],
       [1.8610e+03],
       [1.6170e+03],
       [1.8470e+03],
       [1.5590e+03],
       [3.8380e+03],
       [2.4460e+03],
       [2.9310e+03],
       [3.9220e+03],
       [3.8090e+03],
       [4.6110e+03],
       [2.5990e+03],
       [4.3760e+03],
       [7.5780e+03],
       [4.8610e+03],
       [2.1160e+03],
       [5.2330e+03],
       [4.2670e+03],
       [1.8730e+03],
       [3.9120e+03],
       [3.7770e+03],
       [3.8810e+03],
       [4.2860e+03],
       [4.3420e+03],
       [3.1140e+03],
       [1.6130e+03],
       [2.6730e+03],
       [5.4970e+03],
       [2.6330e+03],
       [2.6410e+03],
       [4.0500e+02],
       [2.5690e+03],
       [7.8500e+02],
       [2.0510e+03],
       [2.6670e+03],
       [1.8270e+03],
       [1.6530e+03],
       [1.7730e+03],
       [1.5370e+03],
       [4.6100e+02],
       [1.1950e+03],
       [1.0650e+03],
       [1.6070e+03],
       [1.1390e+03],
       [6.0400e+02],
       [7.9400e+02],
       [3.0800e+02],
       [5.7600e+02],
       [1.1040e+03],
       [4.1830e+03],
       [6.2900e+02],
       [6.4200e+02],
       [4.3300e+02],
       [2.0900e+02],
       [4.5600e+02],
       [7.0800e+02],
       [5.0700e+02],
       [6.2200e+02],
       [5.6300e+02],
       [3.7200e+02],
       [1.2000e+02],
       [4.9200e+02],
       [5.2400e+02],
       [4.1800e+02],
       [3.1800e+02],
       [4.0300e+02],
       [2.4000e+02],
       [1.1500e+02],
       [3.5800e+02],
       [2.7600e+02],
       [1.9100e+02],
       [3.3250e+03],
       [5.9700e+02],
       [1.8280e+03],
       [2.5700e+02],
       [3.3800e+02],
       [7.6600e+02],
       [3.5200e+02],
       [7.6700e+02],
       [6.1100e+02],
       [5.7900e+02],
       [3.4300e+02],
       [2.1100e+02],
       [4.0300e+02],
       [5.4500e+02],
       [4.2500e+02],
       [7.2600e+02],
       [5.2600e+02],
       [4.0700e+02],
       [1.5200e+02],
       [3.4400e+02],
       [4.5800e+02],
       [4.6700e+02],
       [8.1100e+02],
       [6.4100e+02],
       [2.8400e+02],
       [3.7300e+02],
       [5.1700e+02],
       [8.1000e+01],
       [8.1000e+01],
       [1.5880e+03],
       [1.5880e+03],
       [1.5880e+03],
       [1.3240e+03],
       [5.4100e+02],
       [9.1800e+02],
       [6.5900e+02],
       [5.8200e+02],
       [5.8200e+02],
       [5.8200e+02],
       [1.3750e+03],
       [4.7500e+02],
       [6.6300e+02],
       [6.2100e+02],
       [6.5800e+02],
       [6.5800e+02],
       [6.5800e+02],
       [1.6250e+03],
       [1.6250e+03],
       [9.2700e+02],
       [5.3400e+02],
       [8.3600e+02],
       [8.3600e+02],
       [8.3600e+02],
       [2.0800e+03],
       [5.8400e+02],
       [9.9800e+02],
       [1.0620e+03],
       [1.1300e+03],
       [1.1300e+03],
       [1.1300e+03],
       [2.5510e+03],
       [7.2500e+02],
       [1.3920e+03],
       [1.3770e+03],
       [1.3460e+03],
       [1.3460e+03],
       [1.3460e+03],
       [3.3760e+03],
       [1.0390e+03],
       [1.6950e+03],
       [1.6040e+03],
       [2.2880e+03],
       [2.2880e+03],
       [2.2880e+03],
       [4.8540e+03],
       [1.3970e+03],
       [2.5240e+03],
       [2.6690e+03],
       [2.8460e+03],
       [3.3100e+03],
       [3.0150e+03],
       [4.9300e+02],
       [2.2380e+03],
       [3.7760e+03],
       [4.7710e+03],
       [4.5860e+03],
       [3.6020e+03],
       [4.8970e+03],
       [1.9550e+03],
       [3.3040e+03],
       [5.4290e+03],
       [6.1110e+03],
       [7.3790e+03],
       [5.4530e+03],
       [5.4130e+03],
       [3.0820e+03],
       [4.9820e+03],
       [7.0170e+03],
       [7.1570e+03],
       [8.9750e+03],
       [8.5500e+03],
       [7.0710e+03],
       [4.2030e+03],
       [6.5440e+03],
       [8.5770e+03],
       [9.8430e+03],
       [9.4060e+03],
       [1.0561e+04],
       [7.1830e+03],
       [6.1580e+03],
       [7.8520e+03],
       [9.7840e+03],
       [1.0593e+04],
       [1.3215e+04],
       [1.3498e+04],
       [1.1569e+04],
       [4.2980e+03],
       [1.0008e+04],
       [1.3072e+04],
       [1.6096e+04],
       [1.5797e+04],
       [1.4412e+04],
       [1.1123e+04],
       [4.0700e+03],
       [8.0510e+03],
       [1.2845e+04],
       [1.3970e+04],
       [1.2148e+04],
       [1.6972e+04],
       [1.2545e+04],
       [5.1040e+03],
       [1.0489e+04],
       [1.8746e+04],
       [1.8129e+04],
       [2.0339e+04],
       [2.6896e+04],
       [1.6101e+04],
       [8.5050e+03],
       [1.2993e+04],
       [2.2591e+04],
       [3.0621e+04],
       [2.5086e+04],
       [3.2427e+04],
       [2.9837e+04],
       [1.3243e+04],
       [2.0468e+04],
       [2.6676e+04],
       [4.1622e+04],
       [4.2032e+04],
       [4.5422e+04],
       [5.2010e+04],
       [2.6771e+04],
       [3.3417e+04],
       [3.6437e+04],
       [4.7637e+04],
       [4.9215e+04],
       [3.2641e+04],
       [4.9290e+04],
       [5.2518e+04],
       [3.6330e+04],
       [4.0558e+04],
       [5.8046e+04],
       [6.0486e+04],
       [8.6852e+04],
       [3.8619e+04]])

In [124]:
A_train = A[:190]
b_train = b[:190]
A_test = A[190:] ## ten days in november 2020
b_test = b[190:]

In [125]:
 x = (np.linalg.inv((A_train.transpose()@A_train)))@A_train.transpose()@b_train
    ##minimization (by def), using train only

In [126]:
x

array([[0.26143705],
       [0.77982009]])

In [127]:
predictions = A_test@x

In [128]:
predictions

array([[ 3455.41914039],
       [ 3759.19418366],
       [ 4205.05271477],
       [ 5246.48529682],
       [ 5640.25306851],
       [ 5859.57113896],
       [ 5199.51902817],
       [ 4900.43379956],
       [ 3544.17940841],
       [ 6000.84174628],
       [ 6026.61976389],
       [ 6057.81772575],
       [ 6087.11759541],
       [10780.32995146],
       [18579.4338759 ],
       [10410.33785497],
       [12040.01077744],
       [12005.11619062],
       [14843.53080112],
       [12215.8656003 ],
       [13322.43738294],
       [11464.24477974],
       [12103.22407273],
       [14979.81556245],
       [17298.02796299],
       [17100.85607192],
       [14809.21058041],
       [15466.67048706],
       [16302.24566068],
       [17103.99493957],
       [19475.64474825],
       [24784.64053523],
       [20765.20401211],
       [21015.17576028],
       [23079.84362518],
       [20994.18998476],
       [20736.70163783],
       [23594.92210066],
       [25794.34527915],
       [25000.64503307],
       [27156.71141509],
       [25391.95226449],
       [25952.21139245],
       [20595.34941401],
       [22993.68232123],
       [27619.90945434],
       [27843.39846777],
       [28042.51382893],
       [29869.51754159],
       [24568.96686683]])

In [129]:
b_test

array([[11569.],
       [ 4298.],
       [10008.],
       [13072.],
       [16096.],
       [15797.],
       [14412.],
       [11123.],
       [ 4070.],
       [ 8051.],
       [12845.],
       [13970.],
       [12148.],
       [16972.],
       [12545.],
       [ 5104.],
       [10489.],
       [18746.],
       [18129.],
       [20339.],
       [26896.],
       [16101.],
       [ 8505.],
       [12993.],
       [22591.],
       [30621.],
       [25086.],
       [32427.],
       [29837.],
       [13243.],
       [20468.],
       [26676.],
       [41622.],
       [42032.],
       [45422.],
       [52010.],
       [26771.],
       [33417.],
       [36437.],
       [47637.],
       [49215.],
       [32641.],
       [49290.],
       [52518.],
       [36330.],
       [40558.],
       [58046.],
       [60486.],
       [86852.],
       [38619.]])

In [133]:
predictions - b_test

array([[ -8113.58085961],
       [  -538.80581634],
       [ -5802.94728523],
       [ -7825.51470318],
       [-10455.74693149],
       [ -9937.42886104],
       [ -9212.48097183],
       [ -6222.56620044],
       [  -525.82059159],
       [ -2050.15825372],
       [ -6818.38023611],
       [ -7912.18227425],
       [ -6060.88240459],
       [ -6191.67004854],
       [  6034.4338759 ],
       [  5306.33785497],
       [  1551.01077744],
       [ -6740.88380938],
       [ -3285.46919888],
       [ -8123.1343997 ],
       [-13573.56261706],
       [ -4636.75522026],
       [  3598.22407273],
       [  1986.81556245],
       [ -5292.97203701],
       [-13520.14392808],
       [-10276.78941959],
       [-16960.32951294],
       [-13534.75433932],
       [  3860.99493957],
       [  -992.35525175],
       [ -1891.35946477],
       [-20856.79598789],
       [-21016.82423972],
       [-22342.15637482],
       [-31015.81001524],
       [ -6034.29836217],
       [ -9822.07789934],
       [-10642.65472085],
       [-22636.35496693],
       [-22058.28858491],
       [ -7249.04773551],
       [-23337.78860755],
       [-31922.65058599],
       [-13336.31767877],
       [-12938.09054566],
       [-30202.60153223],
       [-32443.48617107],
       [-56982.48245841],
       [-14050.03313317]])

In [132]:
predictions - b_test

array([[ -8113.58085961],
       [  -538.80581634],
       [ -5802.94728523],
       [ -7825.51470318],
       [-10455.74693149],
       [ -9937.42886104],
       [ -9212.48097183],
       [ -6222.56620044],
       [  -525.82059159],
       [ -2050.15825372],
       [ -6818.38023611],
       [ -7912.18227425],
       [ -6060.88240459],
       [ -6191.67004854],
       [  6034.4338759 ],
       [  5306.33785497],
       [  1551.01077744],
       [ -6740.88380938],
       [ -3285.46919888],
       [ -8123.1343997 ],
       [-13573.56261706],
       [ -4636.75522026],
       [  3598.22407273],
       [  1986.81556245],
       [ -5292.97203701],
       [-13520.14392808],
       [-10276.78941959],
       [-16960.32951294],
       [-13534.75433932],
       [  3860.99493957],
       [  -992.35525175],
       [ -1891.35946477],
       [-20856.79598789],
       [-21016.82423972],
       [-22342.15637482],
       [-31015.81001524],
       [ -6034.29836217],
       [ -9822.07789934],
       [-10642.65472085],
       [-22636.35496693],
       [-22058.28858491],
       [ -7249.04773551],
       [-23337.78860755],
       [-31922.65058599],
       [-13336.31767877],
       [-12938.09054566],
       [-30202.60153223],
       [-32443.48617107],
       [-56982.48245841],
       [-14050.03313317]])